experimental_monorepo_root = true

[monorepo]
config_roots = [
  "./configurator/",
  "./examples/",
]

[tools]
buf = "latest"
protoc = "latest"

[tasks.configurator]
alias = "start"
depends = ["//configurator:configurator"]

[tasks.test]
description = "Run all tests"
depends = ["lint_proto"]
run = "./scripts/test_codegen.sh"

[tasks.lint_proto]
description = "Check Protobuf format using buf"
run = "buf format --exit-code -d proto"

[tasks.format_proto]
description = "Format Protobuf files using buf"
run = "buf format -w proto"
