experimental_monorepo_root = true

[monorepo]
config_roots = [
  "./configurator/",
  "./examples/",
]

[tools]
buf = "latest"
protoc = "latest"

[tasks.test]
description = "Run all tests"
run = "./scripts/test_codegen.sh"

[tasks.gen]
description = "Generate Python code from proto files"
run = "mkdir -p examples/src/roboapp && mkdir -p examples/src/buf/validate && protoc --python_out=examples/src/ --proto_path=proto $(find proto -name '*.proto')"

[tasks.lint]
description = "Lint proto files (using protoc as validator)"
run = "protoc --proto_path=proto $(find proto -name '*.proto') --o=/dev/null"
