experimental_monorepo_root = true

[monorepo]
config_roots = [
  "./configurator/",
  "./examples/",
]

[tools]
buf = "latest"
protoc = "latest"

[tasks.configurator]
alias = "start"
depends = ["//configurator:configurator"]

[tasks.test]
description = "Run all tests"
run = "./scripts/test_codegen.sh"
