experimental_monorepo_root = true

[monorepo]
config_roots = [
  "./configurator/",
  "./examples/",
]

[tools]
protoc = "latest"

[tasks.test]
description = "Run all tests"
run = "./scripts/test_codegen.sh"

[tasks.format]
description = "Format proto files"
run = "buf format -w"

[tasks.lint]
description = "Lint proto files"
run = "buf lint"
