[tools]
uv = "0.9"
prettier = "latest"

[tasks.sync]
description = "Install and sync Python dependencies using uv"
run = "uv sync"
sources = [
  "pyproject.toml",
  "uv.lock",
]
outputs = { auto = true }

[tasks.deps]
description = "Install dependencies and generate code"
depends = ["sync"]
alias = "build"

[tasks.lint_python]
depends = ["deps"]
description = "Run Python linters and type checkers (ruff, mypy)"
run = ["uv run task lint", "uv run task check"]

[tasks.lint_json5]
depends = ["deps"]
description = "Run JSON5 linter"
run = ["prettier --check '**/*.json5'"]

[tasks.lint]
depends = ["lint_json5", "lint_python"]
description = "Run linter"

[tasks.format_python]
depends = ["deps"]
description = "Run Python Formatter"
run = ["uv run task format"]

[tasks.format_json5]
depends = ["deps"]
description = "Run JSON5 Formatter"
run = ["prettier --write '**/*.json5'"]

[tasks.format]
depends = ["format_python", "format_json5"]
description = "Format Python code using ruff"
run = "uv run task format"

[tasks.test]
depends = ["deps"]
description = "Execute Python unit tests using pytest"
run = "uv run task test"

[tasks.configurator]
alias = "start"
depends = ["deps"]
description = "Start the configurator application"
run = "uv run python3 src/configurator/main.py"
